<div class="card-box">
	<button type="button" id='start_parse' class="btn btn-default waves-effect waves-light">Запустить парсер</button>		
	<button type="button" id='convert_json' class="btn btn-default waves-effect waves-light">Конверт</button>		
</div>