<h1>Группы атрибутов</h1>

<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="row">
            <div class="col col-xs-6">

            </div>
            <div class="col col-xs-6 text-right">
                <a href="/attributes/new_attribute/<%=group_id%>" type="button" class="btn btn-sm btn-primary btn-create">Добавить новый атрибут</a>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-bordered table-list">
            <thead>
            <tr>
                <th><em class="glyphicon glyphicon-cog"></em></th>
                <th class="hidden-xs">№</th>
                <th>Название группы</th>
            </tr>
            </thead>
            <% Attributes.attributes.forEach(function(attribute, i) { %>

            <tbody>
            <tr>
                <td align="center">
                    <a class="btn btn-default"><em class="glyphicon glyphicon-pencil"></em></a>
                    <a class="btn btn-danger"><em class="glyphicon glyphicon-trash"></em></a>
                </td>
                <td class="col-md-1 hidden-xs" style="text-align: center;"><%= i + 1 %></td>
                <td><a href="/attributes_groups/attribute/<%= Attributes._id %>"><%= attribute %></a></td>

            </tr>
            <% }); %>

            </tbody>
        </table>

    </div>

</div>