    <div class="site-header-wrapper">
        <!-- Top Header -->
           <header class="top-header mmenu">
            <div class="container sp-cont">
                <ul class="pull-right social-icons social-icons-colored">
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <div class="dd-menu toggle-menu">
                    <ul class="sf-menu">
                        <li><a href="javascript:void(0)">Home</a>
                            <ul class="dropdown">
                                <li><a href="javascript:void(0)">Home versions</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Default</a></li>
                                        <li><a href="index2.html">Version 2</a></li>
                                        <li><a href="index3.html">Version 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">Slider versions</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Default(Flexslider)</a></li>
                                        <li><a href="index-revslider.html">Slider Revolution <span class="label label-danger">New</span></a></li>
                                        <li><a href="banner-slider.html">Banner Slider</a></li>
                                        <li><a href="hero-carousel.html">Full Screen Carousel</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">Search Form Positions</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Default(With Main Menu)</a></li>
                                        <li><a href="search-below-slider.html">Below Slider</a></li>
                                        <li><a href="search-over-slider.html">Over Slider</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">Header versions</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Default</a>
                                        <li><a href="header-v2.html">Version 2</a></li>
                                        <li><a href="header-v3.html">Version 3</a></li>
                                        <li><a href="header-v4.html">Version 4</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Pages</a>
                            <ul class="dropdown">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="joinus.html">Signup</a></li>
                                <li><a href="404.html">404 Error Page</a></li>
                                <li><a href="add-listing-pricing.html">Pricing</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="dealer-search.html">Dealer Search</a></li>
                                <li><a href="dealer-search-results.html">Dealer Search Results</a></li>
                            </ul>
                        </li>
                        <li class="megamenu"><a href="index.html">Mega Menu</a>
                            <ul class="dropdown">
                                <li>
                                    <div class="megamenu-container container">
                                        <div class="row">
                                            <div class="mm-col col-md-2">
                                                <ul class="sub-menu">
                                                    <li><a href="results-list.html">Brand new cars</a></li>
                                                    <li><a href="results-list.html">Used cars</a></li>
                                                    <li><a href="results-list.html">Latest reviews</a></li>
                                                    <li><a href="blog.html">Auto news</a></li>
                                                    <li><a href="about.html">Car insurance</a></li>
                                                </ul>
                                            </div>
                                            <div class="mm-col col-md-5">
                                                <span class="megamenu-sub-title">Browse by body type</span>
                                                <ul class="body-type-widget">
                                                    <li> <a href="results-list.html"><img src="images/body-types/wagon.png" alt=""> <span>Wagon</span></a></li>
                                                    <li> <a href="results-list.html"><img src="images/body-types/minivan.png" alt=""> <span>Minivan</span></a></li>
                                                    <li> <a href="results-list.html"><img src="images/body-types/coupe.png" alt=""> <span>Coupe</span></a></li>
                                                    <li> <a href="results-list.html"><img src="images/body-types/convertible.png" alt=""> <span>Convertible</span></a></li>
                                                    <li> <a href="results-list.html"><img src="images/body-types/crossover.png" alt=""> <span>Crossover</span></a></li>
                                                    <li> <a href="results-list.html"><img src="images/body-types/suv.png" alt=""> <span>SUV</span></a></li>
                                                </ul>
                                                <a href="results-list.html" class="basic-link">view all</a>
                                            </div>
                                            <div class="mm-col col-md-5">
                                                <span class="megamenu-sub-title">Browse by make</span>
                                                <ul class="make-widget">
                                                    <li class="item"> <a href="results-list.html"><img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt=""></a></li>
                                                    <li class="item"> <a href="results-list.html"><img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt=""></a></li>
                                                    <li class="item"> <a href="results-list.html"><img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt=""></a></li>
                                                    <li class="item"> <a href="results-list.html"><img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt=""></a></li>
                                                    <li class="item"> <a href="results-list.html"><img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt=""></a></li>
                                                    <li class="item"> <a href="results-list.html"><img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt=""></a></li>
                                                    <li class="item"> <a href="results-list.html"><img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt=""></a></li>
                                                    <li class="item"> <a href="results-list.html"><img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt=""></a></li>
                                                </ul>
                                                <a href="results-list.html" class="basic-link">view all</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Listing</a>
                            <ul class="dropdown">
                                <li><a href="results-list.html">List View</a></li>
                                <li><a href="results-grid.html">Grid View</a></li>
                                <li><a href="vehicle-details.html">Vehicle Details</a></li>
                                <li><a href="add-listing-form.html">Add new listing</a></li>
                                <li><a href="vehicle-comparision.html">Vehicle Comparision</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Users</a>
                            <ul class="dropdown">
                                <li><a href="dealer-prosite.html">Dealer Prosite</a></li>
                                <li><a href="user-dashboard.html">User Dashboard</a></li>
                                <li><a href="user-dashboard-saved-searches.html">Manage Saved Searches</a></li>
                                <li><a href="user-dashboard-saved-cars.html">Manage Saved Cars</a></li>
                                <li><a href="user-dashboard-manage-ads.html">Manage Ads</a></li>
                                <li><a href="user-dashboard-profile.html">User Profile</a></li>
                                <li><a href="user-dashboard-settings.html">User Settings</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Gallery</a>
                            <ul class="dropdown">
                                <li><a href="gallery-2cols.html">Gallery 2 Columns</a></li>
                                <li><a href="gallery-3cols.html">Gallery 3 Columns</a></li>
                                <li><a href="gallery-4cols.html">Gallery 4 Columns</a></li>
                                <li><a href="gallery-2cols-details.html">Gallery 2 Columns with Details</a></li>
                                <li><a href="gallery-3cols-details.html">Gallery 3 Columns with Details</a></li>
                                <li><a href="gallery-4cols-details.html">Gallery 4 Columns with Details</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Blog</a>
                            <ul class="dropdown">
                                <li><a href="blog.html">Blog List</a></li>
                                <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                <li><a href="single-post.html">Single Post</a></li>
                                <li><a href="single-post-review.html">Single Review Post</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
            </div>
        </header>
        <!-- Site Main Header -->
        <header class="site-header">
            <div class="container sp-cont">
                <div class="site-logo">
                    <h1><a href="index.html"><img src="images/logo.png" alt="Logo"></a></h1>
                </div>
                <div class="header-right">
                    <div class="user-login-panel">
                        <a href="#" class="btn btn-info btn-sm" data-toggle="modal" data-target="#loginModal">Login</a>
                        <a href="joinus.html" class="btn btn-primary btn-sm">SignUp</a>
                    </div>
                    <form class="search-form-minimal hidden-xs hidden-sm">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" size="40" placeholder="Enter model, make, zipcode etc. to search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Search!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </header>
     
        <!-- End Site Header -->
    </div>