<form method="POST">
    <fieldset class="form-group">
        <label for="exampleInputEmail1">Название аттрибута</label>
        <input type="text" class="form-control" name="attribute_name" placeholder="Название аттрибута">
    </fieldset>

    <fieldset class="form-group">
        <label for="exampleInputEmail1">Название группы АНГЛ</label>
        <input type="text" class="form-control" name="attribute_en_name" placeholder="Название аттрибута АНГЛ">
    </fieldset>

    <button type="submit" class="btn btn-primary">Создать</button>
</form>